# dl framework
torch
torchvision

# models
efficientnet-pytorch

# image processing
opencv-python
albumentations

# data & metrics
pandas
scikit-learn

# visualization
matplotlib
seaborn
grad-cam

# utils
tqdm
kaggle
kagglehub
tensorboard
ipykernel
albumentations
